

/***************************************

FONTS

******************************************/


$roboto: 'Roboto', sans-serif;
$futura: 'futura-pt-bold', sans-serif;
$merri: 'Merriweather', serif;



/***************************************

COLORS

******************************************/

$blue: #5091BD;
$font-color: #212121;
$grey-bckgr: #f5f5f5;
$hover-color: #22445f;


/***************************************

STYLES

******************************************/

$max-width: 700px;