.conf-section{
  background: $grey-bckgr;
  min-height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.conf-start{
  text-align: center;
  h1{
    font-size: 42px;
    line-height: 46px;
    font-family: $roboto;
    font-weight: 400;
    margin: 0;
  }
  p{
    margin: 20px 0 32px;
  }
  button{
    width: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    &:hover{
      i{
        margin-left: 15px;
      }
    }

    i{
      font-size: 16px;
      margin-left: 5px;
      transition: 0.3s ease-in-out;
    }
  }
}
.conf-modal{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;

  @include breakpoint(desktop) {
    width: calc(100% - 4em);
    padding: 0 2em;
  }
  @include breakpoint(mobile) {
    width: calc(100% - 2em);
    padding: 0 1em;
  }
}

.conf-modal-content{
  text-align: center;
  max-width: 100%;

  h2{
    font-size: 42px;
    line-height: 56px;
    font-family: $roboto;
    margin: 0;

    span{
      color: #5FC55F;
    }
  }
  p{
    margin: 20px 0 32px;
  }
  a{
    font-family: $roboto;
  }
}

.conf-modal-options{
  display: flex;
  justify-content: center;
}

.conf-modal-option{
  margin: 0 40px;
  cursor: pointer;
  DISPLAY: FLEX;
  FLEX-DIRECTION: COLUMN;
  ALIGN-ITEMS: CENTER;
  justify-content: center;

  @include breakpoint(tablet) {
    margin: 0 20px;
  }
  @include breakpoint(mobile) {
    margin: 0 14px;
  }

  &:hover{
    .conf-modal-img{
      transform: scale(1.07);
    }
  }

  p{
    font-family: $roboto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
  }
}

.conf-modal-img{
  width: 169px;
  height: 169px;
  position: relative;
  transition: transform 0.3s ease-in-out;

  @include breakpoint(medium) {
    width: 120px;
    height: 120px;
  }
  @include breakpoint(mobile) {
    width: 100px;
    height: 100px;
  }
}

.c-m-big-img{
  svg{
    width: 100%;
    height: 100%;
  }
  img{
    width: 100%;
    height: auto;
  }
}

.c-m-i-small-img{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 100%;

  h4{
    font-size: 36px;
    font-weight: 700;
    color: $blue;
  }
}

.conf-progress{
  font-family: $roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: #8E8E8E;
  margin: 0;
  position: absolute;
  right: 4em;
  bottom: 3em;

  @include breakpoint(desktop) {
    right: 2em;
    bottom: 2em;
  }
  @include breakpoint(mobile) {
    right: 1em;
    bottom: 1em;
  }
}

.close-conf-modal{
  position: absolute;
  top: 3em;;
  right: 4em;
  cursor: pointer;
  color: #8E8E8E;
  margin: 0;
  z-index: 2;
  @include breakpoint(desktop) {
    right: 2em;
    top: 2em;
  }
  @include breakpoint(mobile) {
    right: 1em;
    top: 1em;
  }
}

.conf-modal-back{
  display: flex;
  align-items: center;
  position: absolute;
  left: 4em;
  top: 3em;
  color: $blue;
  font-family: $roboto;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  z-index: 2;

  @include breakpoint(desktop) {
    left: 2em;
    top: 2em;
  }
  @include breakpoint(mobile) {
    left: 1em;
    top: 1em;
  }

  &:hover{
    i{
      margin-right: 11px;
    }
  }

  i{
    margin-right: 5px;
    transition: 0.3s ease-in-out;
    font-size: 16px;
  }
}

.conf-modal-result{
  background: white;
  padding: 50px;
  min-width: 700px;
  max-width: $max-width;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(laptop) {
    max-width: 100%;
    min-width: 0;
  }
  @include breakpoint(medium) {
    height: 100%;
    justify-content: center;
    padding: 0 2em;
    width: calc(100% );
    min-width: calc(100%);
  }
  @include breakpoint(mobile) {
    padding: 0 1em;
    width: calc(100%);
    min-width: calc(100%);
  }

  a{
    font-weight: bold;
    margin: 10px 0 8px 0;
  }
  p{
    max-width: 550px;
    font-family: $roboto;
  }
}

.green-button{
  background: #5FC55F;
  width: 227px;
}

.enter-mail-text{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
  color: #8E8E8E;
  margin-bottom: 16px !important;
}

.email-inputs{
  display: flex;
  width: 550px;

  @include breakpoint(small) {
    width: 100%;
  }

  input{
    width: 100%;
  }
  button{
    min-width: 178px;
    @include breakpoint(small) {
      min-width: 140px;
    }
  }
}

.conf-modal-book{
  h2{
    text-align: left;
    width: 550px;

    @include breakpoint(small) {
      width: 100%;
    }
  }
  p{
    text-align: left;

    @include breakpoint(small) {
      max-width: 100%;
    }
  }
}

.small-form{
  max-width: 595px;
  width: 100%;
  padding-left: 45px;

  @include breakpoint(small) {
    padding-left: 0;
  }

  .wpcf7-form{
    text-align: left;
  }
  .wpcf7-textarea{
    padding-top: 20px;
    min-height: 76px;
  }
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}

.conf-modal-last{
  overflow: scroll;
  justify-content: flex-start;
  height: calc(100% - 8em);
  padding: 4em 2em 4em;
}

.top-modal, .bottom-modal{
  width: 100%;
  position: absolute;
  height: 51px;
  background: white;
  left: 0;
  z-index: 0;
  display: none;

  @include breakpoint(small) {
    display: block;
  }
}

.top-modal{
  top:0;
}

.bottom-modal{
  bottom: 0;
  filter: blur(5px);
}