.front-hero{
  align-items: flex-start;
  min-height: calc(100vh - 194px);


  @include breakpoint(tablet) {
    min-height: calc(100vh - 124px);
  }

  .a-button{
    width: 225px;
    font-weight: 700;
    margin-top: 34px;
    font-size: 14px;

    a{
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
    }
  }

  h1{
    text-align: left;
    max-width: 800px;
    margin-bottom: 18px;
  }
  p{
    text-align: left;
    max-width: 582px;
    font-size: 22px;

    @include breakpoint(tablet) {
      font-size: 18px;
    }
  }
  div.wpcf7-mail-sent-ok{
    position: absolute;
    bottom: -47px;
    color: #5FC55F;
  }
}

.wpcf7-submit{
  transition: background 0.3s ease-in-out;

  &:hover{
    background: $hover-color !important;
  }
}

.front-hero-inputs{
  z-index: 1;
  margin-top: 34px;
  position: relative;

  div.wpcf7 {
    width: 100%;
  }
  .wpcf7-form-control-wrap {
    margin-right: 9px;
    width: calc(100%);
  }

  form{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  input{
    height: 46px;
  }
  .wpcf7-email{
    width: calc(100% - 26px);
  }
  .wpcf7-submit{
    max-width: 178px;
    padding: 0;
    margin: 0;
    height: 50px;
    color: white;
    border: none;
    background: $blue;
    //transition: 0.2s ease-in-out;
    //max-height: 50px;
    //position: relative;
    //
    //&:after{
    //  content: 'file_download';
    //  font-family: 'Material Icons';
    //  top:0;
    //  position: absolute;
    //}
    //
    //&:hover{
    //  padding-top: 50px;
    //}

    @include breakpoint(small) {
      max-width: 140px;
    }
  }
  .ajax-loader{
    display: none !important;
  }
}

.front-second{
  align-items: center;
  min-height: 215px;
  padding: 60px 4em 90px 4em;

  @include breakpoint(desktop) {
    padding: 50px 2em 80px 2em;
  }

  @include breakpoint(mobile) {
    padding: 40px 1em 70px 1em;
  }

  p{
    font-family: $roboto;
    line-height: 26px;
  }

  a{
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease-in-out;


    &:hover{
      color: $hover-color;
    }
  }
}

.front-second-content{
  //max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
}

.big-question{
  position: relative;
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: center;

  @include breakpoint(large) {
    max-width: max-content;
    margin-left: 40px;
  }

  @include breakpoint(small) {
    display: none;
  }

  a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  svg{
    transition: transform 0.3s ease-in-out;
  }

  &:hover{
    svg{
      transform: scale(1.07) rotate(45deg);
    }
  }
}

.front-third{
  display: flex;
}

.front-third-left{
  width: 50%;

  @include breakpoint(laptop) {
    display: none;
  }
}
.front-third-right{
  padding: 4em;
  width: calc(50% - 8em);
  background: $blue;

  @include breakpoint(desktop) {
    padding: 3em 2em;
    width: calc(50% - 4em);
  }
  @include breakpoint(laptop) {
    width: calc(100% - 4em);
  }
  @include breakpoint(mobile) {
    width: calc(100% - 2em);
    padding: 2.5em 1em;
  }

  h3{
    color: white;
  }
  p{
    color: white;
    font-family: $roboto;
    display: flex;
    align-items: flex-start;
    max-width: 440px;
    line-height: 26px;
    @include breakpoint(laptop) {
      max-width: 100%;
    }

    i{
      color: #90DFAA;
      margin-right: 29px;

      @include breakpoint(mobile) {
        margin-right: 10px;
      }
    }
  }
  .a-button{
    color: $blue;
    background: white;
    position: relative;
    width: 178px;
    font-weight: bold;
    margin-top: 26px;
    display: block;
  }
}

.review-swiper{
  width: 100%;
  padding-bottom: 7em;

  .swiper-slide{
    display: flex;
    justify-content: space-between;

    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  .swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 35px;
  }

  .swiper-pagination-bullet-active {
    background: transparent;
    border: 1px solid #90dfaa;
    width: 10px;
    height: 10px;
  }
}

.review-left{
  display: table;
  //flex-direction: column;

  @include breakpoint(desktop) {
    //min-width: 200px;
  }
  @include breakpoint(mobile) {
    align-items: center;
    margin-bottom: 25px;

  }

  span:last-child{
    font-weight: 600;
  }

  span{
    font-family: $roboto;
    font-size: 12px;
    line-height: 16px;
    color: #4A4A4A;
    display: table;
    //min-width: 75px;

    @include breakpoint(mobile) {
      display: block;
      text-align: center;
    }
  }
}

.review-img{
  width: 85px;
  height: 85px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-bottom: 12px;

  @include breakpoint(mobile) {
    margin: 0 auto 12px auto;

  }
}

.review-right{
  //max-width: 340px;
  margin-left: 50px;
  position: relative;
  padding-right: 35px;
  width: 100%;

  @include breakpoint(desktop) {
    max-width: 100%;
  }
  @include breakpoint(mobile) {
    text-align: center;
    margin-left: 0;
    padding-right: 0;
  }

  img{
    position: absolute;
    z-index: 0;
    left: -31px;
    top: -6px;

    @include breakpoint(mobile) {
      left: 0;
    }
  }

  p{
    margin: 0;
    font-size: 20px;
    line-height: 33px;
    color: #000000;
    position: relative;
  }
}

.home-news{
  margin-top: 85px;

  @include breakpoint(laptop) {
    margin-top: 45px;
  }

  .related-post-img{
    display: none;
  }

  .related-post-grid{
    margin-top: 15px;
  }
}

.review-section{
  padding: 40px 4em 20px ;

  @include breakpoint(desktop) {
    padding: 40px 2em 20px 2em;
  }

  @include breakpoint(mobile) {
    padding: 30px 1em 20px 1em;
  }
}