.related-posts{
  padding: 3.5em 1.2em 3.5em 4em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: white;
  z-index: 1;
  position: relative;

  @include breakpoint(xl) {
    padding: 3.5em 3.5em 3.5em 4em;
  }

  @include breakpoint(desktop) {
    padding: 3.5em 1em 3.5em 2em;
  }

  @include breakpoint(small) {
    padding: 3.5em 2em 3.5em 2em;
  }

  @include breakpoint(mobile) {
    padding: 3em 1em;
  }

  .related-headline{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 21px;
    margin-right: 39px;
    text-transform: uppercase;

    @include breakpoint(small) {
      margin-right: 0;
    }
  }
}
.related-post-wrapper{
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  @include breakpoint(desktop) {
    flex-wrap: wrap;
  }
}

.left-section{
  .related-post-grid{
    width: calc(50% - 2.8em);
    margin-right: 2.8em;
    position: relative;
    margin-top: 0;
    margin-bottom: 35px;

    @include breakpoint(xl) {
      width: calc(50% - 1.5em);
      margin-right: 1.5em;
    }
    @include breakpoint(laptop) {
      width: calc(50% - 1.5em);
      margin-bottom: 1.5em;
    }
    @include breakpoint(small) {
      width: calc(100%);
      margin-right: 0;
    }
  }
  .related-post-img{
    width: 100%;
    height: 216px;

    @include breakpoint(small) {
      height: 216px;
    }
    @include breakpoint(mobile) {
      height: 220px;
    }
  }

}

.related-post-grid{
  width: calc(25% - 2.8em);
  margin-right: 2.8em;
  position: relative;
  margin-top: 35px;

  @include breakpoint(xl) {
    width: calc(25% - 1.5em);
    margin-right: 1.5em;
  }
  @include breakpoint(laptop) {
    width: calc(50% - 1.5em);
    margin-bottom: 1.5em;
  }
  @include breakpoint(small) {
    width: calc(100%);
    margin-right: 0;
  }


  a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &:hover{
    .related-post-grid-text{
      //margin-top: -50px;
      //margin-bottom: 50px;
      //button{
      //  opacity: 1;
      //  margin-top: 20px;
      //  visibility: visible;
      //  display: block;
      //}
      h4{
        color: $hover-color;
      }
    }
  }
}

.related-post-img{
  width: 100%;
  height: 153px;

  @include breakpoint(small) {
    height: 280px;
  }
  @include breakpoint(mobile) {
    height: 220px;
  }
}


.related-post-grid-text{
  background: white;
  transition: 0.3s ease-in-out;
  padding: 15px 0;
  position: relative;

  h4{
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 27px;
    color: $blue;
    font-weight: 400;
    transition: color 0.3s ease-in-out;
  }
  p{
    font-family: $roboto;
    font-size: 14px;
    line-height: 19px;
    color: #8E8E8E;
    margin: 0;
  }

  button{
    opacity: 0;
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    outline: none;
    position: absolute;
    transition: 0.3s ease-in-out;
    margin-top: 40px;
    visibility: hidden;
  }
}

.staff-grid-section{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  width: calc(100% + 40px);

  @include breakpoint(laptop) {
    width: calc(100% + 20px);
  }

  @include breakpoint(medium) {
    width: calc(100%);
  }

  h3{
    width: 100%;
  }
}

.staff-grid{
  display: flex;
  margin-top: 40px;
  width: calc(50% - 40px);
  margin-right: 40px;
  align-items: center;
  margin-bottom: 10px;

  @include breakpoint(medium) {
    width: calc(100%);
    margin-right: 0;
  }

  h4{
    font-size: 22px;
    font-weight: bold;
    line-height: 33px;
    color: #212121;
    margin: 0;
  }
  p{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: #8E8E8E;
    font-family: $roboto;
    margin-bottom: 13px;
  }
  a{
    font-size: 14px;
    font-weight: bold;
    display: block;
    transition: color 0.3s ease-in-out;

    &:hover{
      color: $hover-color;
    }
  }
}

.staff-img{
  width: 130px;
  height: 130px;
  min-width: 130px;
  border-radius: 100%;
  margin-right: 30px;
}

.retailer-grid-section{
  margin-top: 60px;

  h3{
    margin-bottom: 30px;
  }
}

.retailer-grid{
  padding: 25px 0;
  border-bottom: 1px solid #eee;

  h4{
    color: $blue;
    margin: 0;
    line-height: 26px;
  }
  p{
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    font-family: $roboto;
    margin: 0;
  }
}

.retailer-contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  p{
    color: #8e8e8e;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}