body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h5{
  font-family: $futura;
}

h3{
  font-size: 32px;
  line-height: 45px;
  color: #333333;
  margin: 0;

  @include breakpoint(medium) {
    line-height: 40px;
  }
}

h4{
  font-family: $roboto;
}

input, textarea{
  border: 1px solid #DFDFDF;
  border-radius: 2px;
  margin-right: 9px;
  font-size: 12px;
  line-height: 16px;
  color: #8E8E8E;
  padding-left: 23px;
}

a{
  color: $blue;
  text-decoration: none;
}
button, .a-button{
  height: 50px;
  border-radius: 2px;
  background: $blue;
  border: none;
  outline: none;
  font-family: $roboto;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 12px;
  color: #FFFFFF;
}
p{
  font-family: $merri;
  font-weight: 300;
}
blockquote{
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  position: relative;
  padding-left: 40px;
  margin-left: 0;

  &:after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    top:0;
    background: $blue;
  }
  p{
    font-family: $roboto ;
  }
}

.dark-overlay{
  position: fixed;
  background: rgba(0,0,0,0.41);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 40;
  display: none;
}
.contact-menu{
  position: fixed;
  width: 50%;
  background: #f5f5f5;
  height: 100%;
  transform: translateX(200%);
  top: 0;
  z-index: 50;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(laptop) {
    display: none;
  }
}

.header-social{
  position: absolute !important;
  top: 34px;
  right: 49px;
  height: 30px;
  width: 30px;
  display: flex;
  margin: 0 !important;
  cursor: pointer;

  a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0 !important;
    z-index: 10;
  }
}

.contact-menu-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 56px;
  color: $blue;
  font-family: $futura;

  a{
    transition: color 0.2s ease-in-out;
    &:hover{
      color: $hover-color;
    }
  }
}

.contact-menu-info{
  margin-top: 40px;
  a{
    font-size: 15px;
    font-weight: bold;
    line-height: 12px;
    color: #8E8E8E;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 18px;

    i{
      margin-right: 10px;
      font-size: 12px;
    }
  }
}

.close-c-menu{
  position: absolute;
  top: 30px;
  left: 45px;
  font-size: 38px;
  color: #8e8e8e;
  transition: color 0.3s ease-in-out;
  cursor: pointer;

  &:hover{
    color: #212121;
  }
}

header{
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 11px 4em;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
  width: calc(100% - 8em);
  transition: top .3s ease-in-out;
  top: 0;
  z-index: 20;
  background: white;
  align-items: center;

  @include breakpoint(desktop) {
    padding: 11px 2em;
    width: calc(100% - 4em);
    height: 55.57px;
  }
  @include breakpoint(laptop) {
    padding: 8px 2em;
    width: calc(100% - 4em);
    height: 44px;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: none;
  }
  @include breakpoint(mobile) {
    padding: 8px 1em;
    width: calc(100% - 2em);
  }

  a{
    font-family: $roboto;
  }

  .current_page_item{
    position: relative;

    &:after{
      content: '';
      width: calc(100% - 30px);
      height: 4px;
      position: absolute;
      top: -27px;
      background: $blue;
      left: 15px;
    }
  }
}

.nav-up {
  top: -100px !important;

  @include breakpoint(laptop) {
    top:0 !important;
  }
}

.header-logo{
  max-width: 205px;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;

  a{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }

  img{
    width: 100%;
    height: auto;

    @include breakpoint(laptop) {
      height: 100%;
      width: auto;
    }
  }
}

.header-items{

  @include breakpoint(desktop) {
    min-width: 444px;
  }


  @include breakpoint(laptop) {
    display: none;
  }

  ul{
    list-style: none;
    padding: 0;
    display: flex;
  }
  li{
    display: flex;
    padding: 0 15px;

    &:hover{
      a{
        color: $blue;
      }
    }
  }
  a{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 21px;
    color: #343E47;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    span{
      font-size: 12px;
      text-align: center;
      line-height: 16px;
      font-weight: 400;
      text-transform: none;
      color: #343E47;


      @include breakpoint(xl) {
        display: none;
      }
    }
  }
}

.header-button{
  width: 202px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include breakpoint(laptop) {
    display: none;
  }

  .a-button{
    width: 167px;
    height: 40px;
    background-color: #367CA1;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 12px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

  }
  i{
    transform: rotate(180deg);
  }
}

.all-content{
  margin-top: 96px;

  @include breakpoint(xl) {
    margin-top: 77.56px;
  }

  @include breakpoint(laptop) {
    margin-top: 60px;
  }
}
.load-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background: white;
  left: 0;
  top: 0;
}

.contact-retailer-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  h2{
    
    span{
      color: #5FC55F;
    }
  }

  .small-form{
    padding: 20px 0 40px 45px;
    background: white;
    position: relative;

    @include breakpoint(small) {
      padding: 20px 1em 40px 1em;
      height: calc(100% - 60px);
      overflow: scroll;
    }

  }
}

.close-c-modal{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #8e8e8e;
  transition: color 0.2s ease-in-out;

  &:hover{
    color: #212121;
  }
}

/*--------------------------------------------

  Hamburger styling

---------------------------------------------*/

.hamburger{
  display: none;
  padding: 0;
  outline: none;

  @include breakpoint(laptop) {
    display: block;
  }
}

.hamburger-box{
  width: 23px;
}

.hamburger-inner{
  margin-top: 3px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
  width: 23px;
  height: 2px;
  border-radius: 0;
  background-color: #8e8e8e;
}

.hamburger-inner:after {
  bottom: -5px;
}

.hamburger-inner:before {
  top: -5px;
}

/*--------------------------------------------

MOBILE MENU STYLING

---------------------------------------------*/

.menu-section{
  padding: 0;
  width: 100%;
  display: none;
  position: fixed;
  top: 61px;
  left: 0;
  z-index: 20;
  height: calc(100vh - 60px);
  background: white;
}
.visible-menu{
  opacity: 0;
  visibility: hidden;
  display: none;

  @include breakpoint(laptop) {
    display: flex;
    opacity: 1;
    visibility: visible;
    flex-direction: column;
  }
}

.mobile-menu{
  padding: 0;
  list-style: none;
  margin: 0;

  li{
    border-bottom: 1px solid #dfdfdf;
    transition: 0.25s ease-in-out;

    &:hover{
      background: #dfdfdf;
    }
  }
  a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    color: #8e8e8e;
    text-decoration: none;
    transition: .3s ease-in-out;
    line-height: 1;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    padding: 17px 2em;

    @include breakpoint(mobile) {
      padding: 17px 1em;
    }
  }

  .menu-item-has-children{
    position: relative;
  }

  .menu-item-has-children:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    color: #8e8e8e;
    height: calc(100% - 12px);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-left: 1px solid #dfdfdf;
    padding-top: 12px;
    cursor: pointer;
  }
  .menu-item-has-children:after {
    font-family: 'Material Icons';
    content: 'add';
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #8e8e8e;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .sub-menu{
    display: none;
    padding: 0;
    list-style: none;

    li{
      border: none;
      padding: 0 2em;
      position: relative;
      @include breakpoint(mobile) {
        padding: 0 1em;
      }
    }
    a{
      text-transform: none;
      padding: 0 0 17px 0;
    }
  }
  .sub-open{
    background: #dfdfdf;

    ul{
      display: block;

      li{
        transform: translateX(-30%);
        animation: come-in 0.3s ease forwards;
      }
      li:nth-child(2) {
        animation-delay: 0.05s; /* So they look staggered */
      }
      li:nth-child(3) {
        animation-delay: 0.1s; /* So they look staggered */
      }
      li:nth-child(4) {
        animation-delay: 0.15s; /* So they look staggered */
      }
      li:nth-child(5) {
        animation-delay: 0.2s; /* So they look staggered */
      }
      li:nth-child(6) {
        animation-delay: 0.25s; /* So they look staggered */
      }
    }

    &:after {
      transform: rotate(45deg);
    }
  }
  @keyframes come-in {
    to {
      transform: translateX(0);
    }
  }
}


/*--------------------------------------------

EFFECTS STYLING

---------------------------------------------*/

.button-hover{
  overflow: hidden;
  position: relative;

  &:hover{
    i{
      top: 0;
    }
    span{
      top: 100%;
    }
  }
  span{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top:0;
    transition: 0.25s ease-in-out;
  }

  i{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100%;
    left: 0;
    transition: 0.25s ease-in-out;
  }
}