.section-sidebar{
  display: flex;

  @include breakpoint(laptop) {
    flex-direction: column;
  }
}

.left-section{
  padding: 3em 2em 3em 4em;
  width: calc(66.6% - 6em);
  border-bottom: 1px solid #f5f5f5;

  @include breakpoint(desktop) {
    padding: 3em 2em 3em 2em;
    width: calc(66.6% - 4em);
  }

  @include breakpoint(laptop) {
    width: calc(100% - 4em);
    padding: 3em 2em;
  }
  @include breakpoint(mobile) {
    width: calc(100% - 2em);
    padding: 2.5em 1em;
  }

  p{
    line-height: 26px;
  }
}

.right-section{
  padding: 3em;
  width: calc(33.3% - 6em);
  background: $grey-bckgr;
  min-width: calc(420px - 6em);
  position: relative;
  z-index: 3;

  @include breakpoint(laptop) {
    width: calc(100% - 4em);
    padding: 3em 2em;
    display: flex;
  }
  @include breakpoint(tablet) {
    flex-direction: column;
  }
  @include breakpoint(mobile) {
    width: calc(100% - 2em);
    padding: 1em 1em 2.5em 1em;
  }

  label{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-family: $roboto;
    margin-bottom: 30px;

  }

  input, textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    outline: none;
    padding: 6px 0 2px 0;
    font-size: 16px;
    background-color: transparent;
  }
  input[type=submit]{
    border: none;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-family: $roboto;
    background-color: #5FC55F;
    font-weight: bold;
  }

  h6{
    font-size: 20px;
    margin: 0 0 12px;
  }

  p{
    font-family: $roboto;
    margin: 0 0 40px;
    line-height: 1.4;
    color: #444;
  }
}

.book-kommun{
  width: calc(100% - 90px);
  padding: 40px 45px;
  background: $blue;

  @include breakpoint(laptop) {
    margin-right: 40px;
  }
  @include breakpoint(medium) {
    padding: 40px 2em;
    width: calc(100% - 4em);
  }
  @include breakpoint(tablet) {
    max-width: 300px;
  }
  @include breakpoint(mobile) {
    max-width: 100%;
  }

  p{
    margin: 0;
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    color: #FFFFFF;
    font-family: $roboto;
  }
  .a-button{
    width: 100%;
    background: #5FC55F;
    text-transform: uppercase;
    margin-top: 16px;
    cursor: pointer;
  }
}

.right-section-links{
  margin-top: 60px;

  @include breakpoint(laptop) {
    margin-top: 0;
    min-width: 300px;
  }
  @include breakpoint(tablet) {
    margin-top: 40px;
  }

  h5{
    font-size: 12px;
    line-height: 18px;
    color: #8e8e8e;
    text-transform: uppercase;
    margin: 0;
  }
  a{
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    width: 100%;
    display: flex;
    padding: 9px 0;
    border-bottom: 1px solid #dfdfdf;
    flex-direction: column;
  }

  span{
    display: flex;
    font-size: 10px;
    line-height: 1;

    i{
      font-size: 11px;
      margin-right: 5px;
      color: #838383;
    }
  }
}

.kommun-grid-section{
  padding-bottom: 20px;
}

.kommun-grid{
  width: calc(25% - 25px);
  background: #f9f9f9;
  margin: 0 25px 25px 0;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  box-sizing: border-box;
  padding: 10px 10px;
  transition: 0.2s ease-in-out;
  position: relative;
  border-radius: 4px;
  display: inline-block;

  @include breakpoint(large) {
    width: calc(33.3% - 25px);
  }

  @include breakpoint(desktop) {
    width: calc(50% - 25px);
  }
  @include breakpoint(laptop) {
    width: calc(25% - 25px);
  }
  @include breakpoint(tablet) {
    width: calc(33.3% - 25px);
  }
  @include breakpoint(mobile) {
    width: calc(50% - 15px);
    margin: 0 15px 15px 0;
  }

  &:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  h4{
    font-size: 15px;
    margin: 10px 0 10px;
    color: #777;
  }
  a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
  }
}

.kommun-left-section{

  @include breakpoint(desktop) {
    padding: 3em 1em 3em 2em;
    width: calc(100% - 3em);
  }

  @include breakpoint(mobile) {
    padding: 2.5em 0 2.5em 1em;
    width: calc(100% - 1em);
  }
}

.kommun-right-section{

  @include breakpoint(laptop) {
    flex-direction: column;
  }
}

.kommun-grid-img{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aadcf7;
  color: $blue;
}

.kommun-alphabetic{
  margin: 0 0 20px;
  font-size: 30px;
  text-transform: uppercase;
  color: #999;
}

